In [40]:
'''
a) Load the titanic dataset into one of the data structures - numpy or pandas

b) convert the survived column to strings for easier readings
#Convert the class column to strings for easier reading
#Convert the Embarked column to strings for easier reading

c)Fill the empty column of Embarked with 'S'
#Fill the empty column of Cabin with 'XXX'

d)Drop the columns 'Parch', 'PassengerID', 'Name', 'Ticket', 'Embarked'
#Understand the meaning of axis = 1 and inplace = True or False

e) Display header rows and description of the laoded dataset.
'''

import numpy as np
import pandas as pd


#a)
titanic_df = pd.read_csv('dataSet/titanictrain.csv') #opening a file

#print(titanic_df.head(5)) .head(5) prints the first 5 rows of the dataSet 

#c)
titanic_df ['Survived'] = titanic_df ['Survived'].map({
    0: 'Died',
    1:'Survived'
})

titanic_df ['Pclass'] = titanic_df ['Pclass'].map({
    1:'Luxury',
    2:'Business',
    3:'Basic'
})

#d)
titanic_df.drop(["Parch", "PassengerId", "Name", "Ticket"], axis=1, inplace = True)
#inpalce - drop from reference
titanic_df["Embarked"] = titanic_df["Embarked"].fillna("S")
print(titanic_df.head(5))

   Survived  Pclass     Sex   Age  SibSp     Fare Cabin Embarked
0      Died   Basic    male  22.0      1   7.2500   NaN        S
1  Survived  Luxury  female  38.0      1  71.2833   C85        C
2  Survived   Basic  female  26.0      0   7.9250   NaN        S
3  Survived  Luxury  female  35.0      1  53.1000  C123        S
4      Died   Basic    male  35.0      0   8.0500   NaN        S